<nav class="navbar fixed-bottom navbar-light bg-light">
    <!-- < class="navbar-brand"> -->
    <div class="nav">

    <li class="nav-item-1">
        <a routerLink="/search-job"><a class="nav-link active"  href="#"> <img src="../assets/home-svgrepo-com.svg" alt="" class="" srcset="" height="30px" width="35px"></a>  </a>
      </li>
      <h5 id="home">Jobs</h5>
      <li class="nav-item-2">
        <a routerLink="/user-profile"><a class="nav-link" href="#"><img src="../assets/person-svgrepo-com (3).svg" alt="" class="" srcset="" height="30px" width="40px"> </a></a>
      </li>
      <h5 id="profile">Profile</h5>

      <li class="nav-item-3">
        <a routerLink="/home"> <a class="nav-link" (click)="logout()" href="#"><img src="../assets/log-out-svgrepo-com.svg" alt="" class="" srcset="" height="26px" width="30px"></a></a>
      </li>
      <h5 id="edit-profile">Log out</h5>

      <!-- <li class="nav-item-4">
        <a routerLink="/home"> <a class="nav-link" href="#"><img src="../assets/log-out-svgrepo-com.svg" alt="" class="" srcset="" height="26px" width="30px"></a></a>
      </li>
      <h5 id="logout">Logout</h5> -->

    </div>

    <app-bottom-navbar></app-bottom-navbar>
    
      
