<div class="auth-avatar">
    <img src="../assets/sakhono.png" height="180px" alt="sakhono-logo" class="sakhono-logo">
  </div>
  <div class="card-body auth-card">
                
    <span style="margin-right: 30px;" class="navReg">  Register</span>
    <span class="navLog"><a routerLink="/sign-in">Login</a></span>
  </div>
    <form (submit)="signup(userData)">
      <div class="text-center login" id="existingAccount">
        Already have an account? <a routerLink="/sign-in" id="loginName"> Login </a> here.
      </div>
  </form>
  
      <div class="row">
        
          <div class="col offsetcol offset">
            <div class="card-auth">
              
                <form>
                  <div class="form-group" id="fullname">
                      <!-- <label for="name">Full Name :</label> -->
                      <input type="text" name="Full name" class="form-control" placeholder=" Full Name"
                       id="fullnameInput">
                  </div>
                  <div class="form-group" id="email">
                      <!-- <label for="email">Email :</label> -->
                      <input type="text" name="email" class="form-control" placeholder=" Email" id="emailInput">
                  </div>
                  <div class="form-group" id="password">
                      <!-- <label for="password">Password :</label> -->
                      <input type="password" name="password" class="form-control" placeholder=" Password" id="passwordInput">
                  </div>
                  <div class="form-group" id="c_password">
                      <!-- <label for="c_password">Confirm Password :</label> -->
                      <input type="password" name="c_password" class="form-control" placeholder=" Confirm Password"  id="c_passwordInput">
                  </div>
                  <div class="text-center" id="buttonFor-register">
                      <input type="submit" class="btn btn-my" value="Register" id="registerButton">
                  </div>
                  
                  
                </form>
  
  </div>
          </div>
      </div>
  
  