<div class="container">

    <div id="text">
      <img onclick="window.history.go(-1)" src="../../../../assets/images/left-arrow-backup-2-svgrepo-com (3).svg" alt="" class="left" srcset="" height="50px" width="50px"> 
    <h2>Company Profile</h2>
</div>
    </div>
    <div class="container-2">
      <img src="../../../../assets/images/company-logo.jpg" 
      height="80px">
  
      <div class="bio">
          <h3> Company name </h3> 
          <h5> Industry </h5>
          <h6><b> Email@yahoo.com </b></h6>
      </div>
    </div>

<div class="wrapper">
  
<ul class="Services">
  <h2><b>Services</b></h2> <br>
  <h3>ROADS & EARTHWORKS</h3>
  <h3>STORM-WATER DRAINAGE</h3>
  <h3>SANITATION</h3>
  <h3>PLANT HIRE</h3>
</ul>

</div>
<div class="save-btn">
  <button>save</button>
</div>

<app-company-bottom-navbar></app-company-bottom-navbar>
