
.nav-bar {
    background-color: #010144;
}
.container {
    display: inline-block;
}
h2{
    color: rgb(112, 81, 81);
    justify-content: center;
    justify-items: center;
    margin-left: 22%;
    padding-bottom: 30px;
    padding: 10%;
}

h4 {
    margin: 1px;
    padding: 1px;
    font-size: larger;
    margin-left: 20%;
}

h3 {
    padding: 1px;
    margin: 1px;
    margin-left: 20%;
    padding-left: 10;
    
}

p {
    padding: 1px;
    margin: 1px;
    padding-right: 100px;
    margin-left: 20%;
}

h5 {
    background-color: lightgrey;
    width: 250px;
    height: 90px;
    padding: 25px;
    border-radius: 20px;
    font-size: medium;
}

h6 {
    background-color: lightgrey;
    width: 250px;
    height: 90px;
    border-radius: 20px;
    padding: 23px;
    font-size: medium;
}

#create {
    background-color: white;
    padding: 5px;
}

#team {
    background-color: white;
    // padding: 10px;
    // margin: 5px;
}

#time {
    background-color: white;
    // padding: 10px;
    margin: 5px;
}

#pen {
    // padding: px;
    margin: 10px;
    padding-left: 30px;
}

#left {
    color: white;
    padding-left: 23px;
}