*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content{
align-items: center;
justify-content: center;
text-align: center;
margin-top: 52%;
}


.wrapper {
    background-color: rgb(189, 184, 184);
    height: 230px;
    display: flex;
    border-radius: 10px;
    margin-top: 20px;
    width: 90%;
    margin-left: 10px;

    
}
img{
    // border-radius: 30px;
    float: left;
    // margin-top: -280px;
    margin-left: -10px;
    // padding-bottom: 2px;
}

.bio {
    width: fit-content;
    margin-left: 20px;
    // margin-top: px;
}

.container-2{
    // display: flex;
    margin-top: 20px;
    margin-left: 20px;
    // margin-left: 5%;

}


#text{
    background-color: #010144;
    color: white;
    justify-items: center;
    width: 100%;
    height: 81px;
    text-align: center;
    align-items: center;
    border: 10px;
    border: 7px solid #010144;
    margin-top: 30px;
    
    // margin-bottom: 5%;

}
h2{
    position: relative;
    top: 20px;
    // right: px;
}


h3 {
    font-size: larger;
    font-weight: bolder;
    margin-top: 15px;
}

button {
    background-color: #3A015C;
    border: none;
    padding: 5px 60px;
    font-size: 25px;
    border-color: none;
    border-radius: 10px;
    color:white;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  

.save-btn {
    text-align: center;
    padding-right: 35px;
    padding-top: 20px;}

.Services {
margin-left: 10px;
}

.left {
    // position: relative;
    padding-top: 20px;
    margin-left: 5%;

}

.pen {
    position: relative;
    left: 330px;
    height: 30px;
    width: 30px;

}

#companyProfile{
    border-radius: 30px;
    float: left;
    margin-top: 3%;
    margin-left: 25%;
    padding-bottom: 2px;
}