<div class="container">

    <div id="text">
      <img 
      onclick="window.history.go(-1)" 
        src="../../../../assets/images/left-arrow-backup-2-svgrepo-com (3).svg" 
        alt="" class="left" srcset="" height="50px" width="50px"> 
    <h2>Company Profile</h2>
</div>
    </div>
    <div class="container profile">
      <div class="container-2" id="companyProfile">
        <img src="../../../../assets/images/compan.jpg" 
        height="200px">
    
  
      </div>
      <div class="content" *ngIf="profile">
        <p> {{profile.companyname}}  </p> 
        <p> {{profile.company_email}} </p>   
        <a class="btn" routerLink="/job-post">New Job Post</a>
        <!-- <p>{{currentUser.id}}</p> -->
      </div>
    </div>
    <hr>
    <div class="jobs container">
      <div class="intro">
        <h3>Job Posted</h3>
      </div>
      <div class="content" *ngIf="jobs">
        <div class="list-jobs">
          <a routerLink="/job-edit/{{job._id}}" class="list-item" *ngFor="let job of jobs">
            <h6>{{job.jobtitle}}</h6>
            <small>Description: <span class="text-secondary">{{job.job_description}}</span></small>
            <button (click)="deleteJob(job._id)">Delete</button>
          </a>
        </div>
      </div>
    </div>

  <div class="wrapper">

   
<ul class="Services" >
  <!-- <h3>Services <b> <a routerLink="/company-profile-edit/"><img src="../../../../assets/images/pen-1319-svgrepo-com (1).svg" alt="" class="pen"></a></b></h3> -->
  <!-- <h4>{{profile.services}}</h4> 
  <h4>{{profile.services}}</h4>
  <h4>{{profile.services}}</h4>
  <h4>{{profile.services}}</h4>
  <h4>{{profile.services}}</h4> -->
</ul>
 

    </div>



<!-- <div class="save-btn">
  <button>save</button>
</div> -->

<app-company-bottom-navbar></app-company-bottom-navbar>
