<div class="container">
  <h2> 
     Profile
     </h2>
</div>

<!-- <div class="container"> -->

<div class="profile">
  <img src="../assets/ayabonga.jpg" alt="Ayabonga" srcset="" id="ayabonga" height="130px" width="130px"
  border-radius="round">
</div>

<div class="content">
  <h3> Ayabonga Qanda</h3>
  <h4> Plumber</h4>
  <p>ayabonga@gmail.com
  <p>
</div>

<div class="container-3">
  <h5> 
    <img src="../assets/suitcase1-svgrepo-com.svg" alt="" class="case" srcset="" height="30px" width="35px"> 
    Work Experience 
    <a routerLink="/profile-edit"><img src="../assets/pen-1319-svgrepo-com (1).svg" alt="" class="pen"> </a>
  </h5>
  <div class="experience">
    <p>I have been freelancing since 2015 x x x x x
    </p>
  </div>
</div>

<div class="container-4">
  <h6><img src="../assets/tools-svgrepo-com.svg" alt="" class="tool"> Skills<a routerLink="/profile-edit"><img src="../assets/pen-1319-svgrepo-com (1).svg" alt="" class="pencil" ></a><option id="create" value="creativty">Creativity</option><option id="team" value="teamWork">Team Work<span id="time" value="timeManagement">Time Management</span></option>
  </h6>
  <!-- <option value="creativty">Creativity</option> -->
</div>

<div class="panel-footer">
  <button class="btn btn-primary" type="submit" (click)="searchJobs()">Search Jobs</button>
</div>



<!-- </div> -->