@media only screen and (min-width: 992px)  {

h2 {
    // display: flex;
    align-items: center;
    color: white;
    justify-items: center;
    margin-right: 100px;
    padding-top: 20px;
    width: 20%;
    // margin: 50px;
    padding-left: 5%;
    // margin-bottom: 10%;
}

.container {
    background-color: #010144;
    height: 81px;
    margin-top: 30px;
    width: 4000%;

}

.container-3 {
    background-color: lightgray;
    height: 120px;
    width: 385px;
    border-radius: 20px;
    margin-top: 0%;
    margin-left: 480px
}

.container-4 {
    background-color: lightgrey;
    height: 160px;
    width: 385px;
    margin-top: 1%;
    border-radius: 20px;
    margin-left: 482px;
}

h5 {
    padding: 25px;
    font-size: x-large;
    font-weight: bolder;
    margin-right: 30px;
}

h6 {
    padding: 23px;
    font-size: x-large;
    font-weight: bolder;
    align-items: flex-start;
}

#ayabonga {
    border-radius: 50%;
    margin-top: 4px
    
}

.profile {
    display: flex;
    justify-content: center;
}

.content {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 1%;
}


#create {
    background-color: white;
    margin-bottom: -5%;
    width: 140px;
    padding-left: 4%;

}

#team {
    background-color: white;
    margin-top: 15px;
    width: 137px;
    padding-left: 4%;

}

#time {
    background-color: white;
    margin: 5px;
    font-size: 45px;
}


.left {
    position: relative;
    right: 60px;
    padding-bottom: 10px;

}

.btn {
    margin-left: 20%;
    margin-top: 4%;
    width: 230px;
    height: 56px;
    font-weight: bolder;
    background-color: #3A015C;
    border: #3A015C;
}

.pen {
    margin-left: 100%;
    margin-top: -25%;
    height:25px ;
    width: 25px;
    
}

.pencil {
    margin-left: 108%;
    margin-top: -30%;
    height: 25px;
    width: 25px;
}

.tool {
    margin-right: 140px;
    margin-bottom: 3%;
    margin-top: px;
    height: 25px;
    width: 25px;
}

.case {
    margin-right: 1%;
    margin-bottom: 2%;
}

.nav[_ngcontent-ng-c1406660073] {
    background-color: #010144;
    width: 1367px;
    height: 60px;
    margin-top: 3%;
    width: 1366px
}

}



