<div class="auth-avatar">
    <img src="../assets/sakhono.png" height="180px" alt="sakhono-logo" class="sakhono-logo">
  </div>
  <div class="card-body auth-card">
                
    <span style="margin-right: 30px;" class="navReg">  Register</span>
    <span class="navLog"><a routerLink="/company-login">Login</a></span>
  </div>
    <form>
      <div class="text-center login" id="existingAccount">
        Already have an account? <a routerLink="/company-login" id="loginName"> Login </a> here.
      </div>
  </form>
  
      <div class="row">
        
          <div class="col offsetcol offset">
            <div class="card-auth">
              
                <form>
                  <div class="form-group" id="fullname">
                      <!-- <label for="name">Full Name :</label> -->
                      <input type="text" name="Company name" class="form-control" placeholder=" Company Name"
                       id="fullnameInput">
                  </div>
                  <div class="form-group" id="email">
                    <!-- <label for="email">Email :</label> -->
                    <input type="text" name="Company Email" class="form-control" placeholder=" Company Email" id="emailInput">
                </div>
                  <div class="form-group" id="industry">
                    <!-- <label for="name">Full Name :</label> -->
                    <input type="text" name="Company industry" class="form-control" placeholder=" Industry"
                     id="industryInput">
                </div>
                <div class="form-group" id="location">
                  <!-- <label for="name">Full Name :</label> -->
                  <input type="text" name="Company name" class="form-control" placeholder=" Location"
                   id="locationInput">
              </div>
              <div class="form-group" id="contactPerson">
                <!-- <label for="name">Full Name :</label> -->
                <input type="text" name="Company name" class="form-control" placeholder=" Contact Person"
                 id="contactpersonInput">
            </div>

                  
                  <div class="form-group" id="password">
                      <!-- <label for="password">Password :</label> -->
                      <input type="password" name="password" class="form-control" placeholder=" Password" id="passwordInput">
                  </div>
                  <div class="text-center" id="buttonFor-register">
                      <input type="submit" class="btn btn-my" value="Register" id="registerButton">
                  </div>
                  
                  
                </form>
  
  </div>
          </div>
      </div>
