<div class="container">

    <div id="text">
      <img src="../assets/left-arrow-backup-2-svgrepo-com (3).svg" alt="" class="left" srcset="" height="50px" width="50px"> 
    
    <h2>Create job</h2>
</div>
    </div>
    <div class="container-2">
      <img src="../../../../assets/images/company-logo.jpg" 
      height="90px">
  
      <div class="bio">
        <!-- <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
            <div class="form-group" id="email">
              <input 
                type="text" name="email" 
                class="form-control" placeholder="Email"id="emailInput"
                name="username"
                [(ngModel)]="form.username"
                required
                #username="ngModel"
                [ngClass]="{ 'is-invalid': f.submitted && username.errors }"
                >
            </div>
        </form> -->
        
        
          <h3> Company name </h3> 
          <h5> Industry </h5>
          <h6> Email@yahoo.com </h6>
      </div>
    </div>

    <div class="wrapper">
  
        <form class="container-3">
            <label>Skills & Experience required</label> <br>
            <textarea class="first" placeholder="Type in Experience"></textarea> <br>
    
            <label >Responsibilities and duties required</label> <br>
            <textarea class="second" placeholder="Type in Responsibilities and duties"></textarea>
    
            <label >Location</label> <br>
            <textarea class="third" placeholder="Type in location"></textarea>
          </form>
    
    </div>
    <div class="save-btn">
      <button>Post</button>
    </div>
    
    <app-company-bottom-navbar></app-company-bottom-navbar>