<div class="title">

  <h2>
    <img src="../assets/left-arrow-backup-2-svgrepo-com (3).svg" alt="" class="left" srcset="" height="50px" width="50px"> 
    Candidates
  </h2>
  
</div>

<div class="container">
  <div class="search">
    <input type="text" placeholder="Search e.g for Electrician" name="search" height="15px" width="15px">
    <button class="click" type="button"><img src="../assets/icons8-search.svg" alt="Search image cap" height="20px"
        width="20px"></button>
    <!-- <button class="primary" type="button" (click)="filterResults(filter.value)">Search</button> -->
  </div>
  <div class="row">
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <img class="card-img-top" src="../../../../assets/images/ayabonga.jpg" alt="Card image cap"
          height="70px" width="70px">
          <h5 class="card-title">Ayabonga Qanda</h5>
          <div class="card-text">Plumber</div>
          <img class="card-img" src="" alt="5.2k viewers" height="50px"
          width="50px">
          <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
         
        </div>
        <a href="#" class="btn btn-dark">Connect</a>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <img class="card-img-top" src="../../../../assets/images/kgotso.jpg" alt="Card image cap" height="70px"
            width="70px">
          <h5 class="card-title">Kgotso Maema</h5>
          <div>Electrician</div>
          <img class="card-img-midle" src="" alt="4k viewers" height="50px"
          width="50px">
          
        </div>
        <a href="#" class="btn btn-dark">Connect</a>
        <!-- <button type="button" class="btn btn-dark">Dark</button> -->

      </div>
    </div>
  </div>

</div>

<app-company-bottom-navbar></app-company-bottom-navbar>