<div class="title">
  <h2 class="text-center">Candidates</h2>
</div>

<div class="container">


  <div class="search">
    <input type="text" placeholder="Search e.g for Electrician" name="search" height="15px" width="15px">
    <button class="click" type="button"><img src="../assets/icons8-search.svg" alt="Search image cap" height="20px"
        width="20px"></button>
    <!-- <button class="primary" type="button" (click)="filterResults(filter.value)">Search</button> -->
  </div>
  <div class="row">
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><img src="../" alt="" height="20px"
              width="20px">Ayabonga Qanda</h5>
          <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
          <img class="card-img-top" src="../../../../assets/ayabonga.jpg" alt="Card image cap"
            height="50px" width="50px">
        </div>
        <a href="#" class="btn btn-dark">Connect</a>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><img src="../" alt=""
              height="20px" width="20px">Kgotso Maema</h5>
          <img class="card-img-top" src="../" alt="Card image cap" height="50px"
            width="50px">
        </div>
        <a href="#" class="btn btn-dark">Connect</a>
        <!-- <button type="button" class="btn btn-dark">Dark</button> -->

      </div>
    </div>
  </div>

</div>