<div class="title">
  <h2>
  <img src="../assets/left-arrow-backup-2-svgrepo-com (3).svg" alt="" class="left" srcset="" height="50px" width="50px"> 
     Jobs
    </h2>
    
</div>

<div class="container">


  <div class="search">
    <input type="text" placeholder="Search for jobs " name="search" height="px">
    <button class="click" type="button"><img src="../assets/icons8-search.svg"  id="bar" alt="" height="30px"
        width="30px"></button>
    <!-- <button class="primary" type="button" (click)="filterResults(filter.value)">Search</button> -->
  </div>
  <div class="row">
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><img src="../../../../assets/images/working-tools-svgrepo-com.svg" alt="" height="20px"
              width="20px">Maintance</h5>
          <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
          <img class="card-img-midle" src="../../../../assets/images/maintenance (1).jpg" alt="Card image cap"
            height="50px" width="50px">
        </div>
        <a href="#" class="btn btn-dark">Apply Now</a>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><img src="../../../../assets/images/light-bulb-electricity-svgrepo-com.svg" alt=""
              height="20px" width="20px">Electrician</h5>
          <img class="card-img-midle" src="../../../../assets/images/electrician.jpg" alt="Card image cap" height="50px"
            width="50px">
        </div>
        <a href="#" class="btn btn-dark">Apply Now</a>
        <!-- <button type="button" class="btn btn-dark">Dark</button> -->

      </div>
    </div>
  </div>

</div>

<app-bottom-navbar></app-bottom-navbar>