@media only screen and (min-width: 50px) {

// @media screen {
   

h2 {
   
    text-align: center;
    color: white;
    font-weight: 100;
    margin: 40px;
    padding: 20px;
    padding-right: 40%;
    padding-bottom: 15px;
    width: 100%;
    font-size: x-large;
   //  font-stretch: wider;
    
}
.left {
    position: relative;
    right: 90px;
    padding-bottom: 10px;

}
.search {
    display: flex;
    padding-right: 15px;
    width: 100%;
    position: relative;
    bottom: 30px;
}

.title {
    background-color: #010144;
    
    
}

Input {
    // align-items: center;
    // padding-right: 30px;
    // margin: 10px;
    // padding: 25px;
    padding-right: 200px;
    border-radius: 20px;
    height: 57px;
    text-align: left;
    background-color: lightgray;
    width: 330px
}

button {
    // padding: 15px;
    border-radius: 10px;
    background-color: lightgrey;
    padding-left: 18px;
    padding-bottom: 1px;
    // margin-left: -200px;
    width: 60px;
    margin-left: 20px;
    width: 85px;
    

}

 h5 {
    
    height: 25px;
    color: black;
    font-size: 200;
    font-weight: 400;
 }

 h6{
    font-weight: 400;
    font-display: bold;
 }
.row {
    width: 400px !important;
}
 .card{
    width: 380px;
    height: 150px;
    background-color: lightgray;
    margin-top: 20px;
    // padding: 15px;
    margin: 10px;
    padding-left: 20px;
    // margin-right: 10px;
    // margin-top: 10px;
    text-decoration: #01010f;
    align-items: left;
 }
//  img.card-img-midle{
//     width: 250px;
//     height: 140px;
//     border-radius: 15px;
//  }
 img.card-img-midle{
    width: 250px;
    height: 140px;
    border-radius: 15px;
 }

 .btn {
    margin-right: 35px;
    size: 10px;
    font-size: small;
    width: 108px;
    margin-left: 107px;
    margin-bottom: 20px;
    padding-left: 25px;
    background-color: #010144;
   //  height: 15px;
    
    
 }

//  #bar{
    
//     margin-left: -73%;
//     height: 50px;
//     align-items: center;
//     justify-content: center;
//     display: flex;
    
//  }

 .click{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 55px;
    margin-left: 10px;
 }

 #p{
    text-decoration: black;
    font-size: large;
 }
 
 
 