.landing-pic img {
    width: 100%;
    object-fit: cover;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.user {
    background: #181860;
}
.employer {
    background-color: #800080;
}

.sec {
    margin-bottom: 10%;
}