<div class="container">  
<img src="logo.png" width="100%">

<div class="intro">
<h1> app that helps you to find your dream job according to your skills!</h1>
</div>
    <div class="container" width="100%">
     
        <button
        class="user-btn">
          Jobseeker</button>
        <style>
            button{
        background-color: 181860;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        font-size: 80px; 
        border-radius: 8px;
        width:100%;
    }
        </style>
        <!-- </button>  -->
        <br>
    
      <button class="company-btn" style="background-color: 800080;
      border: none;color: white;
      padding: 15px 32px;
      text-align: center;
      font-size: 80px; 
      border-radius: 8px;  
      margin-top: 5px;"
      alignment>
        Employer</button>
    </div>


</div>
